#firstpanel {
    background-color: white;
  }
  #secondpanel {
    background-color: white;
  }

  @media (min-width: 600px) {
    #mainpanel {
      display: flex;
    }
    #firstpanel {
      flex-grow: 1;
      width:30%;
      height: 500px;
    }
    #secondpanel {
      flex-grow: 1;
      width:20%;
    }
    #thirdpanel {
      flex-grow: 1;
    }
  }